html {

 background-color:black;
width: 1280px;
margin: auto;


}
.main-pic img{
width: 1280px;

}

.ban-pic1-1 {
position: absolute;

margin-top:0px;
margin-left: 80px;
}
.ban-pic1-2 {


margin-top:30px;
margin-left: 80px;
}


.ban-pic2-1 {
position: absolute;

margin-top:-176px;
margin-left: 390px;
}
.ban-pic2-2 {


margin-top:-176px;
margin-left: 390px;
}
.ban-pic3-1 {
position: absolute;

margin-top:-176px;
margin-left: 700px;
}
.ban-pic3-2 {


margin-top:-176px;
margin-left: 700px;
}
.ban-pic4-1 {
position: absolute;

margin-top:-176px;
margin-left: 1020px;
}
.ban-pic4-2 {


margin-top:-176px;
margin-left: 1020px;
}

.social-icon{
float: right;
margin-top: 30px;
margin-right: 15px;
}
.social-icon img{

margin-right: 15px;
}
.side-text1 h1{
  font-family: 標楷體;
  font-size: 300%;
color:white;
text-align: center;
 letter-spacing: 10px;　
}
.side-text2{
margin-top: 80px;

}
.side-text2 h1{
  font-family: 標楷體;
  font-size: 180%;
  color:white;
  text-align: center;
   letter-spacing: 3px;　
｝
